{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <img src="{% static 'images/nobody.png' %}" width="75%" />
    </div>
    <div class="col-8">
      <!-- Title goes between these h2 tags -->
      <h2>{{ about.title }}About me</h2>
      <!-- Content goes directly underneath this -->
      {{ about.content | safe }}
      Hi, I'm Iman Ahmed! I'm passionate about learning new technologies and building projects that make a difference. I enjoy working with Python and Django to create web applications that are both functional and user-friendly.  

In my free time, I love exploring new programming languages, reading tech blogs, and contributing to open-source projects. I believe in continuous learning and sharing knowledge with the community.  

Welcome to my personal space, and feel free to explore my work and projects!

    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}